#bg_art{
    background-size: cover;
    margin: auto;
    width: 100%;
    height: 100%;
    background: url('./assets/Background/ERbackground.png') fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: -webkit-sticky;
    position: static;
}
canvas{
    display: block;
    margin: auto;
  }
  